@charset "utf-8";
/* CSS Document */
.main{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:aliceblue;
    margin: 0 auto;
	width: 400px;
	padding: 1em;
	border:0px solid #3E17DD;
	border-radius: 10px;
    background: -webkit-linear-gradient(blue,red);
    background: -o-linear-gradient(blue,red);
    background: -moz-linear-gradient(blue,red); 
    background: linear-gradient(blue,red);
}
ul{
	list-style: none;
}
label{
	display:inline-block;
	width: 90px;
	padding: 10px;
	text-align: right;
}
form input{
	height: 30px;
	width: 200px;
	border:0px solid #3E17DD;
	border-radius: 10px;
	color:#1F00DF;
	text-align: center;
}
.butt{
	padding-top: 1em;
	padding-left: 110px;
	color:black
}
.butt input:hover{
	color:aliceblue;
	background-color:#1F00DF;
}
fieldset{
	border: 0px;
}